
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Open+Sans&display=swap');
 /*font-family: 'Limelight', cursive;
 font-family: 'Open Sans', sans-serif; */

 li{
     list-style: none;
    }
#page-wrapper {
  position: relative;
}

a {
    color:whitesmoke;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
  }

body {
    background-color:black;
    font-family: 'Limelight', cursive;
}

header{
    background-color:black;
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:whitesmoke;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo{
    width: 60vw;
}

.logo > img {
    width: 100px;
    height: 100px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0px;
  }
  
nav{ 
    font-weight: 400;
    }

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


#sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 70px;
    color: whitesmoke;
    
}

#sign-up > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#sign-up input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    
  }

#sign-up input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
    font-family: 'Limelight', cursive;
  }

  #sign-up input[type='submit']:hover {
    background-color: orange;
    transition: background-color 1s;
  }



#features {
    margin-top:30px;
    color: whitesmoke;
    
}



#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
  }

#features .dtitle {
    font-family: 'Limelight', cursive;
    }
#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
  }

#how-it-works > iframe {
    max-width: 560px;
    width: 100%;
}



    
.agent-image {
    height: 100px;
    width: 100px;
     float: left ;
}   
  
.agent-text {
        float: right ;
      }   
    
.agent-box{
    display: flex;
    padding-bottom: 15px;
}

#how-it-works{
  margin-top:50px;
  display: flex;
  justify-content: center;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}

#transport{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  background-color: rgb(65, 63, 63);
  color: yellow;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;

}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
  font-family: 'Open Sans', sans-serif;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
  font-family: 'Limelight', cursive;
}

.product > button:hover {
  background-color: orange;
  transition: background-color 1s;
}

footer {
  margin-top: 30px;
  background-color:black;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: rgb(117, 117, 117);
}
